In [776]:
import pandas as pd
import tabula
import string
import re
import numpy as np
from functools import reduce
import_path = "data/KBA_tables.pdf"
export_path = "data/KBA_tables.xls"

In [440]:
import_df = tabula.read_pdf(import_path, multiple_tables=True, pages="all")

In [740]:
columns = ["HSN","TSN","Herst.-Klartext","Fabrik-marke","Handels-name",
           "Zuteilungs-datum der Typ-schlüsselnr","Fahrzeug-klasse","Code Aufbau",
           "Code Kraftstoffart oder Energiequelle","Nenn-leistung in kW","Max. Hubraum in qcm",
           "Max. Anzahl der Achsen","Max Anzahl der Antriebsachsen","Max. Anzahl der Sitzplätze inkl. Fahrersitz",
           "Max. technisch zulässige Gesamtmasse"]
### Erläuterungen:
# HSN:Herstellerschlüsselnummer, TSN:Typschlüsselnummer

In [671]:
newlst = []
tmp_cols = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", 
                                    "14", "15", "16", "17", "18", "19", "20","21"]
tdf = import_df
for i in range(len(tdf)):
    if len(tdf[i]) > 10:
        if len(tdf[i].keys()) < 20:
            tdf[i].insert(5,"new",'')
            tdf[i].insert(4,"new2",'')
            tdf[i].insert(3,"new3",'')
        if len(tdf[i].keys()) < 21:
            tdf[i].insert(4,"new2",'')
            tdf[i].insert(3,"new3",'')
        if len(tdf[i].keys()) < 22:
            tdf[i].insert(3,"new3",'')
        tdf[i].columns = tmp_cols
        newlst.append(tdf[i].iloc[1:],)

In [676]:
col_typesdict = {'0':'str', '1':'str', '2':'str', '3':'str', '4':'str',
                 '5':'str', '6':'str', '7':'str', '8':'str', '9':'str',
                 '10':'str', '11':'str', '12':'str', '13':'str', '14':'float',
                 '15':'float', '16':'float', '17':'float', '18':'float',
                 '19':'float', '20':'float', '21':'float'}
for i in range(len(newlst)):
    newlst[i] = newlst[i].astype(col_typesdict)

In [ ]:
df = reduce(lambda x,y: pd.merge(x,y, how='outer'),newlst)

In [689]:
for i in range(len(df.columns)):
    df.iloc[:,i].value_counts()

0005    1510
1313    1020
0588     938
0603     879
3001     799
0035     781
3333     762
8566     756
3003     754
0600     598
        ...
2009       1
2030       1
4009       1
0612       1
1862       1
1588       1
1848       1
1400       1
1550       1
1733       1
Name: 0, Length: 192, dtype: int64

301    85
AAA    77
302    76
303    73
304    68
305    67
AAB    65
306    65
310    63
309    63
       ..
DJR     1
ERU     1
CIR     1
CPW     1
ERI     1
IGZ     1
HST     1
ELQ     1
DQL     1
FDX     1
Name: 1, Length: 3142, dtype: int64

BAYER.MOT.WERKE-BMW        1510
VOLKSWAGEN-VW              1477
OPEL                       1308
FORD (D)                   1261
RENAULT (F)                1076
FIAT (I)                   1061
Daimler (D)                1020
AUDI                        938
CITROEN (F)                 799
PEUGEOT (F)                 754
                           ...
Fisker (USA)                  1
Italdesign-Giugiaro (I)       1
SAVIEM (F)                    1
Dallara (I)                   1
ACMA (F)                      1
SIATA (I)                     1
TCV (TR)                      1
ROLLS-ROYCE (GB)              1
McLaren (GB)                  1
MITSUBISHI (AUS)              1
Name: 2, Length: 189, dtype: int64

nan    21343
Name: 3, dtype: int64

nan                          13002
BMW                            933
Mercedes-Benz                  832
OPEL                           554
RENAULT                        531
VOLKSWAGEN, VW                 333
FORD                           313
PEUGEOT                        295
CITROEN                        261
SEAT                           246
                             ...
DALLARA                          1
IVECO/Niesmann+Bischoff          1
SAAB                             1
ALFA,ALFA                        1
Citroen-Fleurette                1
Ambulanz Mobile GmbH & Co        1
VOLKSWAGEN, VW EOS               1
E-Karat, Bozankaya               1
Ford-CNG Technik,Ford-CNG        1
Italdesign Automobil Spec        1
Name: 4, Length: 212, dtype: int64

nan                          19649
Mercedes-Benz                  214
AUDI                           173
OPEL                           166
FORD                            97
Audi,AUDI                       80
NISSAN                          77
CITROEN                         70
Audi                            64
FIAT                            43
                             ...
MERCEDES-AMG,Mercedes-Ben        1
Citroen                          1
Fiat / Carthago                  1
Sileo                            1
Dethleffs,Poessl                 1
Dethleffs,Poessl,Pössl           1
DAIHATSU,SUBARU                  1
Honda                            1
Fendt                            1
CRD Car Research GmbH            1
Name: 5, Length: 90, dtype: int64

nan                          3847
MEGANE                        229
PASSAT                        185
GOLF                          156
ESCORT                        133
LAGUNA                        102
CLIO                           92
Mondeo                         88
3er Reihe                      80
MEGANE SCENIC                  79
                             ...
SUBARU JUSTY 1200 4WD           1
M Coupe                         1
Twin;Flexo V1;Twin 4 FOUR       1
fortwo coupe cdi                1
KW 005,Fortuna,Fortscout;       1
CX 2200 D                       1
47-PRINZ                        1
F 140                           1
CHEROKEE TRAILHAWK,CHEROK       1
BMW 2,1                         1
Name: 6, Length: 4649, dtype: int64

nan                          17592
AUDI A4;AUDI A4, S4             31
C5                              29
ASTRA                           29
TRANSIT,TOURNEO                 27
CORSA-E                         23
NISSAN MICRA                    22
TOYOTA AVENSIS                  21
Focus                           21
AUDI A6;AUDI A6, S6             21
                             ...
TAUNUS 1,3 XL,GXL                1
E,ROYAL                          1
SIRION,JUSTY                     1
ALFA ROMEO145 1,8 TS             1
DUCATO PANORAMA 2.5TDI CA        1
IKARUS 55.62                     1
305 BREAK GR                     1
FIAT PANDA,FIAT  PANDA           1
405 BREAK GLD,GRD                1
Wrangler                         1
Name: 7, Length: 1557, dtype: int64

nan           374
01.06.2000    118
01.07.2000    106
01.08.2000     98
04.07.2017     92
01.08.1995     87
01.12.1995     83
01.04.1997     76
07.11.2005     76
01.06.1989     71
             ...
07.10.2013      1
12.06.2006      1
23.09.2009      1
01.08.1957      1
06.11.2012      1
08.12.2011      1
20.07.2017      1
03.09.2012      1
05.05.2010      1
28.11.2018      1
Name: 8, Length: 2624, dtype: int64

nan           20885
01.08.1968       25
01.07.1967       24
01.08.1965       20
01.08.1966       14
01.03.2000       11
01.09.1967       10
01.07.1957       10
01.01.2002       10
08.12.2005        9
              ...
01.04.1955        1
01.09.1950        1
01.01.1968        1
01.08.1986        1
01.08.1969        1
01.02.1995        1
01.07.1963        1
01.12.1951        1
01.10.1976        1
01.12.1948        1
Name: 9, Length: 149, dtype: int64

M1     9453
01     8908
31     1186
M1G     568
nan     458
02      402
M3      254
91       81
M2       27
11        5
22        1
Name: 10, dtype: int64

nan    20885
02       229
01       167
31        60
22         2
Name: 11, dtype: int64

0200    8639
AC      2891
AF      2112
AA      1651
nan     1612
AB      1372
SA       733
AE       630
AD       565
0100     498
        ...
CG        10
SD         9
SH         5
CB         4
CO         4
SC         3
CI         2
CR         2
CU         2
9900       1
Name: 12, Length: 31, dtype: int64

0001    12833
0002     7862
0006      140
0008      135
0009       97
0004       65
0023       59
0025       52
0007       45
0010       38
0026        8
0005        7
0015        2
Name: 13, dtype: int64

110.0    865
85.0     802
66.0     783
55.0     640
100.0    570
120.0    523
103.0    509
74.0     503
88.0     440
96.0     389
        ...
355.0      1
448.0      1
541.0      1
408.0      1
507.0      1
216.0      1
515.0      1
482.0      1
382.0      1
273.0      1
Name: 14, Length: 375, dtype: int64

1598.0     978
1998.0     783
1995.0     679
1997.0     545
1968.0     491
1984.0     446
11967.0    280
1796.0     276
1896.0     274
1560.0     254
          ...
2649.0       1
2835.0       1
2906.0       1
1342.0       1
1192.0       1
3664.0       1
5934.0       1
659.0        1
585.0        1
1318.0       1
Name: 15, Length: 1008, dtype: int64

2.0    21014
3.0      329
Name: 16, dtype: int64

Series([], Name: 17, dtype: int64)

1.0    17775
2.0     3566
3.0        1
Name: 18, dtype: int64

Series([], Name: 19, dtype: int64)

5.0     14287
4.0      2608
7.0      1299
9.0       843
6.0       543
2.0       518
8.0       241
45.0       51
3.0        44
49.0       42
        ...
87.0        2
93.0        2
46.0        2
73.0        2
48.0        1
24.0        1
38.0        1
34.0        1
35.0        1
13.0        1
Name: 20, Length: 69, dtype: int64

3500.0     356
19000.0    212
1900.0     196
1650.0     175
2050.0     173
2000.0     170
1400.0     166
1850.0     163
1800.0     158
2200.0     157
          ...
1572.0       1
2122.0       1
2108.0       1
1543.0       1
2052.0       1
1829.0       1
3460.0       1
1631.0       1
2992.0       1
10000.0      1
Name: 21, Length: 1061, dtype: int64

In [707]:
# col_dels = [3,17,19]
df = df.drop(labels=['3','17','19'], axis=1)

In [697]:
# col_merge = [[4,5],[6,7],[8,9],[10,11]]
df['4_5'] = df[['4','5']].apply(lambda x: ''.join(x), axis=1)
df['6_7'] = df[['6','7']].apply(lambda x: ''.join(x), axis=1)
df['8_9'] = df[['8','9']].apply(lambda x: ''.join(x), axis=1)
df['10_11'] = df[['10','11']].apply(lambda x: ''.join(x), axis=1)
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,4_5,6_7,8_9,10_11
0,0005,155,BAYER.MOT.WERKE-BMW,nan,nan,nan,645CI,nan,01.07.2003,nan,01,nan,0200,0001,245.0,4398.0,2.0,NaN,1.0,NaN,4.0,2070.0,nannan,645CInan,01.07.2003nan,01nan
1,0005,156,BAYER.MOT.WERKE-BMW,nan,nan,nan,645CI,nan,01.10.2003,nan,01,nan,0100,0001,245.0,4398.0,2.0,NaN,1.0,NaN,4.0,2250.0,nannan,645CInan,01.10.2003nan,01nan
2,0005,163,BAYER.MOT.WERKE-BMW,nan,nan,nan,116I,nan,01.04.2004,nan,01,nan,0200,0001,85.0,1596.0,2.0,NaN,1.0,NaN,5.0,1705.0,nannan,116Inan,01.04.2004nan,01nan
3,0005,164,BAYER.MOT.WERKE-BMW,nan,nan,nan,118D,nan,01.04.2004,nan,01,nan,0200,0002,90.0,1995.0,2.0,NaN,1.0,NaN,5.0,1810.0,nannan,118Dnan,01.04.2004nan,01nan
4,0005,165,BAYER.MOT.WERKE-BMW,nan,nan,nan,118I,nan,01.10.2004,nan,01,nan,0200,0001,95.0,1995.0,2.0,NaN,1.0,NaN,5.0,1835.0,nannan,118Inan,01.10.2004nan,01nan

In [713]:
for line in df.index:
    df.loc[line,'4_5'] = re.sub('nan','',df.loc[line,'4_5'])
    df.loc[line,'6_7'] = re.sub('nan','',df.loc[line,'6_7'])
    df.loc[line,'8_9'] = re.sub('nan','',df.loc[line,'8_9'])
    df.loc[line,'10_11'] = re.sub('nan','',df.loc[line,'10_11'])
df = df[['0', '1', '2', '4_5', '6_7', '8_9', '10_11', '12', '13',
       '14', '15', '16', '18', '20', '21']]
if len(df.columns) == len(columns):
    df.columns = columns

In [778]:
# export to csv
df.to_excel(export_path,index=False)

In [773]:
### SOME TESTS

#df.loc[df.loc[:,'HSN']=='0005'].loc[df.loc[:,'Code Kraftstoffart oder Energiequelle']=='0025']
df.loc[df.loc[:,'Code Kraftstoffart oder Energiequelle']=='0025']['Fabrik-marke'].value_counts()
df.loc[df.loc[:,'Fabrik-marke']=='BMW i']
df.loc[df.loc[:,'Fabrik-marke']=='BMW']['Code Kraftstoffart oder Energiequelle'].value_counts()
df.loc[df.loc[:,'Fabrik-marke']=='BMW'].loc[df.loc[:,'Code Kraftstoffart oder Energiequelle']=='0008']
df.loc[df.loc[:,'Fabrik-marke']=='BMW'].loc[df.loc[:,'Code Kraftstoffart oder Energiequelle']=='0025']
# df.loc[df.loc[:,'Fabrik-marke']=='BMW'].loc[df.loc[:,'Code Kraftstoffart oder Energiequelle']=='0001'] ## Normal
# df.loc[df.loc[:,'Fabrik-marke']=='BMW'].loc[df.loc[:,'Code Kraftstoffart oder Energiequelle']=='0002'] ## Diesel
print('Where is model BMW i3???')
print('This is probably BMW i3, including range-extender:')
df.loc[df.loc[:,'Fabrik-marke']=='BMW'].loc[df.loc[:,'Handels-name']=='ActiveHybrid 3']

Volvo               12
Mercedes-Benz       11
BMW                  7
Porsche,PORSCHE      4
OPEL                 3
Kia                  2
Chevrolet            2
VOLKSWAGEN, VW       2
Land Rover           2
DS                   1
Audi                 1
Ford-CNG-Technik     1
TOYOTA               1
LEVC                 1
BMW i                1
                     1
Name: Fabrik-marke, dtype: int64

,HSN,TSN,Herst.-Klartext,Fabrik-marke,Handels-name,Zuteilungs-datum der Typ-schlüsselnr,Fahrzeug-klasse,Code Aufbau,Code Kraftstoffart oder Energiequelle,Nenn-leistung in kW,Max. Hubraum in qcm,Max. Anzahl der Achsen,Max Anzahl der Antriebsachsen,Max. Anzahl der Sitzplätze inkl. Fahrersitz,Max. technisch zulässige Gesamtmasse
1460,0005,CSB,BAYER.MOT.WERKE-BMW,BMW i,i8,22.12.2017,M1,AE,0025,170.0,1499.0,2.0,2.0,2.0,1900.0

0001    477
0002    445
0025      7
0008      4
Name: Code Kraftstoffart oder Energiequelle, dtype: int64

,HSN,TSN,Herst.-Klartext,Fabrik-marke,Handels-name,Zuteilungs-datum der Typ-schlüsselnr,Fahrzeug-klasse,Code Aufbau,Code Kraftstoffart oder Energiequelle,Nenn-leistung in kW,Max. Hubraum in qcm,Max. Anzahl der Achsen,Max Anzahl der Antriebsachsen,Max. Anzahl der Sitzplätze inkl. Fahrersitz,Max. technisch zulässige Gesamtmasse
765,0005,AQC,BAYER.MOT.WERKE-BMW,BMW,ActiveHybrid X Reihe,19.05.2009,M1G,AC,0008,300.0,4395.0,2.0,2.0,4.0,3025.0
843,0005,ATI,BAYER.MOT.WERKE-BMW,BMW,ActiveHybrid 7er Reihe,29.09.2009,M1,AA,0008,330.0,4395.0,2.0,1.0,5.0,2660.0
1032,0005,BKG,BAYER.MOT.WERKE-BMW,BMW,ActiveHybrid 3,22.02.2012,M1,AA,0008,225.0,2979.0,2.0,1.0,5.0,2185.0
1092,0005,BMS,BAYER.MOT.WERKE-BMW,BMW,ActiveHybrid 3,01.06.2012,M1,AA,0008,225.0,2979.0,2.0,1.0,5.0,2185.0

,HSN,TSN,Herst.-Klartext,Fabrik-marke,Handels-name,Zuteilungs-datum der Typ-schlüsselnr,Fahrzeug-klasse,Code Aufbau,Code Kraftstoffart oder Energiequelle,Nenn-leistung in kW,Max. Hubraum in qcm,Max. Anzahl der Achsen,Max Anzahl der Antriebsachsen,Max. Anzahl der Sitzplätze inkl. Fahrersitz,Max. technisch zulässige Gesamtmasse
1297,0005,CDU,BAYER.MOT.WERKE-BMW,BMW,330e,19.03.2015,M1,AA,0025,135.0,1998.0,2.0,1.0,5.0,2195.0
1316,0005,CGI,BAYER.MOT.WERKE-BMW,BMW,740e iPerformance,04.11.2015,M1,AA,0025,190.0,1998.0,2.0,1.0,5.0,2585.0
1317,0005,CGJ,BAYER.MOT.WERKE-BMW,BMW,740Le iPerformance,04.11.2015,M1,AA,0025,190.0,1998.0,2.0,1.0,5.0,2600.0
1318,0005,CGK,BAYER.MOT.WERKE-BMW,BMW,740Le xDrive iPerformance,04.11.2015,M1,AA,0025,190.0,1998.0,2.0,2.0,5.0,2655.0
1370,0005,CIL,BAYER.MOT.WERKE-BMW,BMW,225xe iPerformance,21.03.2016,M1,AC,0025,100.0,1499.0,2.0,2.0,5.0,2180.0
1371,0005,CIM,BAYER.MOT.WERKE-BMW,BMW,330e iPerformance,21.03.2016,M1,AA,0025,135.0,1998.0,2.0,1.0,5.0,2200.0
1382,0005,CJS,BAYER.MOT.WERKE-BMW,BMW,225xe iPerformance,18.08.2016,M1,AC,0025,100.0,1499.0,2.0,2.0,5.0,2180.0

Where is model BMW i3???
This is probably BMW i3, including range-extender:

,HSN,TSN,Herst.-Klartext,Fabrik-marke,Handels-name,Zuteilungs-datum der Typ-schlüsselnr,Fahrzeug-klasse,Code Aufbau,Code Kraftstoffart oder Energiequelle,Nenn-leistung in kW,Max. Hubraum in qcm,Max. Anzahl der Achsen,Max Anzahl der Antriebsachsen,Max. Anzahl der Sitzplätze inkl. Fahrersitz,Max. technisch zulässige Gesamtmasse
1032,0005,BKG,BAYER.MOT.WERKE-BMW,BMW,ActiveHybrid 3,22.02.2012,M1,AA,0008,225.0,2979.0,2.0,1.0,5.0,2185.0
1092,0005,BMS,BAYER.MOT.WERKE-BMW,BMW,ActiveHybrid 3,01.06.2012,M1,AA,0008,225.0,2979.0,2.0,1.0,5.0,2185.0